


html, body {
	padding: 0;
	margin: 0;
	position: relative;
}

body {
	/*background-color: rgb(52, 73, 94);*/
	background-color:	#eff2f6;
	color: white;
	display: flex;
	justify-content: center;
	position: relative;
	padding-bottom: 20px;

}

#bg-img {
	background-image: url("../images/background_greyscale.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

#bg-overlay {
	background-color: rgba(26, 26, 26, 0.8);
	position: absolute;
	width: 100%;
	height: 100%;

}

.bg-tweet {
	height: 150px;
	width: auto;
	position: relative;
}

#bg-tweets {
	position: absolute;
	width: 100%;
	height: 100%;
}

/*Classes for animating the background tweets*/
.tweet-x1 {
	top: 20%;
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
	-webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.tweet-x2 {
	top: 35%;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	opacity: 0.4;
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.tweet-x3 {
	top: 55%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
	-webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.tweet-x4 {
	top: 65%;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0.5;
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
	-webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.tweet-x5 {
	top: 80%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
	-webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

@-webkit-keyframes moveclouds {
	0% {transform: translateX(-20vw);}
	100% {transform: translateX(120vw);}
}
@-moz-keyframes moveclouds {
	0% {transform: translateX(-20vw);}
	100% {transform: translateX(120vw);}
}
@-o-keyframes moveclouds {
	0% {transform: translateX(-20vw);}
	100% {transform: translateX(120vw);}
}

#page-container {
	width: 800px;
	min-height: 100%;
	max-height: 100%;
	height: 100%;
	padding-left: 50px;
	padding-right: 50px;
	left: calc(50% - 400px);
	background-color: rgba(1, 1, 1, 0.7);
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	z-index: 2;
	margin-bottom: -20px;
}

#page-graph {
	width: 800px;
	min-height: 400px;
	max-height: 400px;
	height: 400px;
}

h1 {
	font-family: 'Sans-Serif';
	font-family: 'Arial';
	font-family: 'Fira Sans';
	font-size: 60pt;
	color: white;
}

h2 {
	font-family: 'Sans-Serif';
	font-family: 'Arial';
	font-family: 'Fira Sans';
	font-size: 40pt;
	color: white;
}

h4 {
	font-family: 'Sans-Serif';
	font-family: 'Arial';
	font-family: 'Fira Sans';
	font-size: 15pt;
	color: white;
}

.search-element-group {
	position: relative;
	height: 170px;
	width: 800px;
}

.search-element-search {
	position: absolute;
}

.search-element-updated {
	position: absolute;
	right: 0;
	top: 40px;
}

.search-element-bars {
	position: relative;
}

.search-element-loading {
	position: absolute;
	width: 100%;
	height: 7px;
	background-color: lightgrey;
	top: 100px;
	z-index: 2;
}

.search-element-loading-overlay {
	position: absolute;
	top: 0;
	height: 7px;
	background-color: lightgreen;
	width: 0%;
	z-index: 3;
}

.search-element-green {
	position: absolute;
	top: 100px;
	background-color: green;
	height: 7px;
	width: 0%;
	left: 0;
	z-index: 1;
}

.search-element-red {
	position: absolute;
	top: 100px;
	background-color: #e9433c;
	height: 7px;
	width: 0%;
	right: 0;
}

.search-percent-red {
	position: absolute;
	top: 85px;
	right: 0;
	color: #e9433c;
	font-size: 20pt;
	display: none;
}

.search-percent-green {
	position: absolute;
	top: 85px;
	left: 0;
	color: green;
	font-size: 20pt;
	display: none;
}

.display-none {
	display: none;
}
