/*Copyright 2017 Ben Curnow

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the "Software"),
to deal in the Software without restriction, including without limitation
the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
sell copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.*/


html, body {
	padding: 0;
	margin: 0;
	position: relative;
}

body {
	/*background-color: rgb(52, 73, 94);*/
	background-color:	#eff2f6;
	background-image: url("../images/background_1280.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	display: flex;
	justify-content: center;
	position: relative;
	height: 100%;
}

#bg-overlay {
	background-color: rgba(26, 26, 26, 0.8);
	position: absolute;
	width: 100%;
	height: 100%;

}

#main-title {
	font-family: 'Ranga', cursive;
	position: absolute;
	top: 250px;
	font-size: 80pt;
}

#main-search-div {
	position: relative;
}

#main-search-box {
	position: absolute;
	background-color: white;
	outline: none;
	height: 70px;
	width: 630px;
	top: 400px;
	border-radius: 50px;
	font-size: 30pt;
	padding-left: 30px;
	font-weight: 400;
	font-family: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
	color: lightgrey;
}

#main-search-text {
	position: absolute;
	font-family: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
	color: lightgrey;
	font-size: 30pt;
	font-weight: 400;
	height: 70px;
	width: 630px;
	top: 387px;
	padding-left: 29px;
}

#searches-container {
	margin-top: 550px;
	width: 700px;
	position: relative;
}
/*
#tagline {
	margin-top: 0;
}

#page-container {
	width: 800px;
	min-height: 100%;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgba(1, 1, 1, 0.7);
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	z-index: 2;
	margin-bottom: -20px;
	top: 100vh;
	position: absolute;
}

#page-graph {
	width: 800px;
	min-height: 400px;
	max-height: 400px;
	height: 400px;
}*/

h1 {
	font-family: 'Sans-Serif';
	font-family: 'Arial';
	font-family: 'Fira Sans';
	font-size: 60pt;
	color: white;
}

h2 {
	font-family: 'Sans-Serif';
	font-family: 'Arial';
	font-family: 'Fira Sans';
	font-size: 40pt;
	color: white;
}

h4 {
	font-family: 'Sans-Serif';
	font-family: 'Arial';
	font-family: 'Fira Sans';
	font-size: 15pt;
	color: white;
}

.search-element-group {
	position: relative;
	height: 170px;
	width: 700px;
}

.search-element-search {
	position: absolute;
}

.search-element-updated {
	position: absolute;
	right: 0;
	top: 40px;
}

.search-element-bars {
	position: relative;
}

.search-element-loading {
	position: absolute;
	width: 100%;
	height: 7px;
	background-color: lightgrey;
	top: 100px;
	z-index: 2;
}

.search-element-loading-overlay {
	position: absolute;
	top: 0;
	height: 7px;
	background-color: lightgreen;
	width: 0%;
	z-index: 3;
}

.search-element-green {
	position: absolute;
	top: 100px;
	background-color: green;
	height: 7px;
	width: 0%;
	left: 0;
	z-index: 1;
}

.search-element-red {
	position: absolute;
	top: 100px;
	background-color: #e9433c;
	height: 7px;
	width: 0%;
	right: 0;
}

.search-percent-red {
	position: absolute;
	top: 85px;
	right: 0;
	color: #e9433c;
	font-size: 20pt;
	display: none;
}

.search-percent-green {
	position: absolute;
	top: 85px;
	left: 0;
	color: green;
	font-size: 20pt;
	display: none;
}

.display-none {
	display: none;
}
